// Mixins
//
@mixin container-gutter($padding: $container-padding) {
  padding-left: $padding;
  padding-right: $padding;
}

@mixin grid-gutter($gutter: $grid-gutter) {
  padding: $gutter/2;

  .container & {
    padding: 0;
    margin: -($grid-gutter/2);
  }
}

// Width calculation.
// @mixin partial-size($size, $columns: $grid-columns, $gutter: $grid-gutter) {
//   width: calc(#{(($size / $columns) * 100)+"%"} - #{$gutter});
// }

@mixin offset-size($size, $gutter: $grid-gutter) {
  margin-left: calc(#{$size+"%"} + #{$gutter});
}

@mixin column-size($size, $gutter: $grid-gutter) {
  max-width: calc(#{$size+'%'} - #{$gutter});
  flex-basis: calc(#{$size+'%'} - #{$gutter});
}

@mixin column($size, $size_name, $screen_name, $attribute) {
  &[data#{$attribute}#{$screen_name}='#{$size_name}'] {
    @include column-size($size);
  }
}

@mixin columns($screen_name: '', $attribute: '-column') {
  @include column( (10), '10', $attribute, $screen_name);
  @include column( (20), '20', $attribute, $screen_name);
  @include column( (25), '25', $attribute, $screen_name);
  @include column( (100/3), '33', $attribute, $screen_name);
  @include column( (40), '40', $attribute, $screen_name);
  @include column( (50), '50', $attribute, $screen_name);
  @include column( (60), '60', $attribute, $screen_name);
  @include column( (2/3*100), '67', $attribute, $screen_name);
  @include column( (75), '75', $attribute, $screen_name);
  @include column( (80), '80', $attribute, $screen_name);
  @include column( (90), '90', $attribute, $screen_name);
}

@mixin full-size($gutter: $grid-gutter) {
  @include column-size(100, $gutter);
}


//  Generate phone columns
//
@mixin phone_columns () {

  // 1 column default on phone
  @include column-size(100);

  // Define columns
  @include columns;

  // Define order override classes.
  @include columns('', '-order');
  // @for $i from 1 through $grid-columns {
  //   &[data-order='#{$i}'] {
  //     order: $i;
  //   }
  // }

  // Define valid phone offsets.
  @for $i from 1 through ($grid-columns - 1) {
    &[data-offset='#{$i}'] {
      @include offset-size($i);
    }
  }

  // Fixed cell sizes
  @for $i from 1 through 8 {
    .#{$grid-classname}[data-columns='#{$i}'] & {
      @include column-size(100 / $i);
    }
  }
}


//  Generate tablet columns
//
@mixin tablet_columns () {
  @media (min-width: $grid-tablet-breakpoint) {

    // 2 columns default on tablet
    @include column-size(100/2);

    // Define partial sizes for columnNumber < totalColumns.
    @include columns('-tablet');

    // Define order override classes.
    @include columns($screen_name:'-tablet', $attribute:'-order');
    // @for $i from 1 through $grid-columns {
    //   &[data-order-tablet='#{$i}'] {
    //     order: $i;
    //   }
    // }

    // Define valid tablet offsets.
    @for $i from 1 through ($grid-columns - 1) {
      &[data-offset-tablet='#{$i}'] {
        @include offset-size($i);
      }
    }

    // Fixed cell sizes for tablets
    @for $i from 1 through 8 {
      .#{$grid-classname}[data-columns-tablet='#{$i}'] & {
        @include column-size(100 / $i);
      }
    }

  }
}


// Generate desktop columns
//
@mixin desktop_columns () {
  @media (min-width: $grid-desktop-breakpoint) {

    // 4 columns default on desktop
    @include column-size(100/4);

    // Define partial sizes for all numbers of columns.
    @include columns('-desktop');

    // Define 100% for everything else.
    &[data-column-desktop='#{$grid-gutter}'] {
      @include full-size();
    }

    // Define order override classes.
    @for $i from 1 through $grid-columns {
      &[data-order-desktop='#{$i}'] {
        order: $i;
      }
    }

    // Define valid desktop offsets.
    @for $i from 1 through ($grid-columns - 1) {
      &[data-offset-desktop='#{$i}'] {
        @include offset-size($i);
      }
    }

    // Fixed cell sizes for desktop
    @for $i from 1 through 8 {
      .#{$grid-classname}[data-columns-desktop='#{$i}'] & {
        @include column-size(10 / $i);
      }
    }

  }
}


//  Generate large desktop columns
//
@mixin large_desktop_columns () {
  @media (min-width: $grid-large-desktop-breakpoint) {

    // 5 columns default on large desktop
    @include column-size(100/5);

    // Define partial sizes for all numbers of columns.
    @include columns('-large-desktop');

    // Define 100% for everything else.
    &[data-column-large-desktop='#{$grid-columns}'] {
      @include full-size($grid-gutter);
    }

    // Define order override classes.
    @for $i from 1 through $grid-columns {
      &[data-order-large-desktop='#{$i}'] {
        order: $i;
      }
    }

    // Define valid large desktop offsets.
    @for $i from 1 through ($grid-columns - 1) {
      &[data-offset-large-desktop='#{$i}'] {
        @include offset-size($i);
      }
    }

    // Fixed cell sizes for large desktop
    @for $i from 1 through 8 {
      .#{$grid-classname}[data-columns-large-desktop='#{$i}'] & {
        @include column-size(10 / $i);
      }
    }

  }
}