// Mixins
//
@mixin container-gutter($padding: $container-padding) {
  padding-left: $padding;
  padding-right: $padding;
}

@mixin grid-gutter($gutter: $grid-gutter) {
  padding: $gutter/2;

  .container & {
    padding: 0;
    margin: -($grid-gutter/2);
  }
}

// Width calculation.
@mixin partial-size($size, $columns: $grid-columns, $gutter: $grid-gutter) {
  width: calc(#{(($size / $columns) * 100)+"%"} - #{$gutter});
}

@mixin full-size($gutter: $grid-gutter) {
  @include partial-size(1, 1, $gutter);
}

@mixin offset-size($size, $columns: $grid-columns, $gutter: $grid-gutter) {
  margin-left: calc(#{(($size / $columns) * 100)+"%"} + #{$gutter});
}



//  Generate phone columns
//
@mixin phone_columns () {

  // Define partial sizes for columnNumber < totalColumns.
  @for $i from 1 through ($grid-columns - 1) {
    &[data-column='#{$i}'] {
      @include partial-size($i);
    }
  }

  // Define 100% for everything else.
  &[data-column='#{$grid-columns}'] {
    @include full-size;
  }

  // Define order override classes.
  @for $i from 1 through $grid-columns {
    &[data-order='#{$i}'] {
      order: $i;
    }
  }

  // Define valid phone offsets.
  @for $i from 1 through ($grid-columns - 1) {
    &[data-offset='#{$i}'] {
      @include offset-size($i);
    }
  }

  // Fixed cell sizes
  @for $i from 1 through 8 {
    .#{$grid-classname}[data-columns='#{$i}'] & {
      @include partial-size(10 / $i);
    }
  }
}


//  Generate tablet columns
//
@mixin tablet_columns () {
  @media (min-width: $grid-tablet-breakpoint) {

    // Define partial sizes for columnNumber < totalColumns.
    @for $i from 1 through ($grid-columns - 1) {
      &[data-column-tablet='#{$i}'] {
        @include partial-size($i);
      }
    }

    // Define 100% for everything else.
    &[data-column-tablet='#{$grid-columns}'] {
      @include full-size;
    }

    // Define order override classes.
    @for $i from 1 through $grid-columns {
      &[data-order-tablet='#{$i}'] {
        order: $i;
      }
    }

    // Define valid tablet offsets.
    @for $i from 1 through ($grid-columns - 1) {
      &[data-offset-tablet='#{$i}'] {
        @include offset-size($i);
      }
    }

    // Fixed cell sizes for tablets
    @for $i from 1 through 8 {
      .#{$grid-classname}[data-columns-tablet='#{$i}'] & {
        @include partial-size(10 / $i);
      }
    }

  }
}


// Generate desktop columns
//
@mixin desktop_columns () {
  @media (min-width: $grid-desktop-breakpoint) {

    // Define partial sizes for all numbers of columns.
    @for $i from 1 through ($grid-columns - 1) {
      &[data-column-desktop='#{$i}'] {
        @include partial-size($i);
      }
    }

    // Define 100% for everything else.
    &[data-column-desktop='#{$grid-gutter}'] {
      @include full-size($grid-gutter);
    }

    // Define order override classes.
    @for $i from 1 through $grid-columns {
      &[data-order-desktop='#{$i}'] {
        order: $i;
      }
    }

    // Define valid desktop offsets.
    @for $i from 1 through ($grid-columns - 1) {
      &[data-offset-desktop='#{$i}'] {
        @include offset-size($i);
      }
    }

    // Fixed cell sizes for desktop
    @for $i from 1 through 8 {
      .#{$grid-classname}[data-columns-desktop='#{$i}'] & {
        @include partial-size(10 / $i);
      }
    }

  }
}


//  Generate large desktop columns
//
@mixin large_desktop_columns () {
  @media (min-width: $grid-large-desktop-breakpoint) {

    // Define partial sizes for all numbers of columns.
    @for $i from 1 through $grid-columns {
      &[data-column-large-desktop='#{$i}'] {
        @include partial-size($i);
      }
    }

    // Define 100% for everything else.
    &[data-column-large-desktop='#{$grid-columns}'] {
      @include full-size($grid-gutter);
    }

    // Define order override classes.
    @for $i from 1 through $grid-columns {
      &[data-order-large-desktop='#{$i}'] {
        order: $i;
      }
    }

    // Define valid large desktop offsets.
    @for $i from 1 through ($grid-columns - 1) {
      &[data-offset-large-desktop='#{$i}'] {
        @include offset-size($i);
      }
    }

    // Fixed cell sizes for large desktop
    @for $i from 1 through 8 {
      .#{$grid-classname}[data-columns-large-desktop='#{$i}'] & {
        @include partial-size(10 / $i);
      }
    }

  }
}