// Grid
//
$grid-gutter: 16px !default;
$grid-columns: 10 !default;

$grid-tablet-namespace: 'tablet';
$grid-desktop-namespace: 'desktop';
$grid-large-desktop-namespace: 'large-desktop';
$grid-hd-desktop-namespace: 'hd-desktop';

$grid-large-phone-breakpoint: 480px !default;
$grid-tablet-breakpoint: 640px !default;
$grid-desktop-breakpoint: 960px !default;
$grid-large-desktop-breakpoint: 1280px !default;
$grid-hd-desktop-breakpoint: 1600px !default;

$grid-classname: 'grid' !default;
$cell-classname: 'cell' !default;

// Container
//
$container-padding: $grid-gutter !default;
// Define the maximum width of `.container` for different screen sizes.
$container-desktop: $grid-desktop-breakpoint !default;
$container-large-desktop: $grid-large-desktop-breakpoint !default;
$container-hd-desktop: $grid-hd-desktop-breakpoint !default;

$text-container-max-width: 640px;