$grid-gutter: 24px !default;

$grid-columns: 4 !default;
$grid-tablet-columns: 8 !default;
$grid-desktop-columns: 12 !default;
$grid-large-desktop-columns: 16 !default;

$grid-max-columns: $grid-large-desktop-columns !default;

$grid-large-phone-breakpoint: 480px !default;
$grid-tablet-breakpoint: 640px !default;
$grid-desktop-breakpoint: 960px !default;
$grid-large-desktop-breakpoint: 1280px !default;
$grid-hd-desktop-breakpoint: 1600px !default;

$grid-classname: 'grid' !default;
$cell-classname: 'cell' !default;