// Grid
//
$grid-gutter: 24px !default;

$grid-columns: 4 !default;
$grid-tablet-columns: 8 !default;
$grid-desktop-columns: 12 !default;
$grid-large-desktop-columns: 16 !default;

$grid-max-columns: $grid-large-desktop-columns !default;

$grid-large-phone-breakpoint: 480px !default;
$grid-tablet-breakpoint: 640px !default;
$grid-desktop-breakpoint: 960px !default;
$grid-large-desktop-breakpoint: 1280px !default;
$grid-hd-desktop-breakpoint: 1600px !default;

$grid-classname: 'grid' !default;
$cell-classname: 'cell' !default;

// Container
//
$container-padding: $grid-gutter !default;
// Define the maximum width of `.container` for different screen sizes.
$container-desktop: $grid-desktop-breakpoint !default;
$container-large-desktop: $grid-large-desktop-breakpoint !default;
$container-hd-desktop: $grid-hd-desktop-breakpoint !default;

$text-container-max-width: 640px;