@import "variables";
@import "mixins";

// Styles
//
.#{$grid-classname} {
  @include grid();

  // Herlper align classes
  &[data-justify="left"] {
    justify-content: flex-start;
  }

  &[data-justify="right"] {
    justify-content: flex-end;
  }

  &[data-justify="center"] {
    justify-content: center;
  }

  &[data-justify="between"] {
    justify-content: space-between;
  }

  &[data-justify="around"] {
    justify-content: space-around;
  }

  // Align grid in center like container
  &[data-align="center"] {
    margin: 0 auto;

    @media (min-width: $grid-desktop-breakpoint) {
      max-width: $grid-desktop-breakpoint;
    }

    @media (min-width: $grid-large-desktop-breakpoint) {
      max-width: $grid-large-desktop-breakpoint;
    }

    @media (min-width: $grid-hd-desktop-breakpoint) {
      max-width: $grid-hd-desktop-breakpoint;
    }
  }
}


// Cell styles and align classes
.#{$cell-classname} {
  @include cell();

  // Generate phone columns
  @include phone_columns();

  // Generate tablet columns
  @include tablet_columns();

  // Generate desktop columns
  @include desktop_columns();

  // Generate large desktop columns
  @include large_desktop_columns();

  // Helper align classes
  &[data-align="top"] {
    align-self: flex-start;
  }

  &[data-align="middle"] {
    align-self: center;
  }

  &[data-align="bottom"] {
    align-self: flex-end;
  }

  &[data-align="stretch"] {
    align-self: stretch;
  }
}